
#head{
    text-align: center;
    color: red;
}

*{
    text-align: center;
}

.h2{
    text-align: center;
    color: blue;
    text-decoration: underline;
}
p1,p2{
    color: brown;
    font-style: italic;
}
[class]{
    color:blue;
}
[class="33"]{
    background-color: yellow;
}
body{
    background-color: aquamarine;
}